<%- include ../public/page_header.html %>

 <meta http-equiv="refresh" content="3;url=<%=redirectUrl%>"> 

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <%- include ../public/page_aside.html %>        		
          
        </div>
        <div class="col-sm-10">
          
            <div class="alert alert-success">
            	
            	<h2>操作成功!</h2>
            	
            	<br />
            		
            	<p>如果您不做出选择，将在 3秒后跳转到第一个链接地址。</p>
            
            
            </div>

        </div>
    </div>
</div>

</body>
</html>