<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>用户登录</title>
  
		<link rel="stylesheet" href="/public/admin/css/login.css"> 
	</head>
	<body>
		<div class="container">
		        <div id="login">
		                <form action="/admin/doLogin" method="post" id="myform">
		                    <input type="hidden" name="ajaxlogin" id="ajaxlogin">
							<input type="hidden" name="ajaxcode" id="ajaxcode">
							<!-- 全局的csrf，所以不用在render中配置 -->
		                    <input type="hidden" name="_csrf" value="<%=csrf%>">
		                    <div class="l_title">小米商城后台管理系统-IT营</div>
		                    <dl>
		                        <dd>管理员姓名：<input class="text" type="text" name="username" id="username"></dd>
		                        <dd>管理员密码：<input class="text" type="password" name="password" id="password"></dd>
		                        <dd>验　证　码：<input id="verify" type="text" name="code">
		                            <img id="verify_img" src="/admin/verify" title="看不清？点击刷新" onclick="javascript:this.src='/admin/verify?mt='+Math.random()">
		                         </dd>			
		                        <dd><input type="submit" class="submit" name="dosubmit" value=""></dd>			
		                    </dl>
		                </form>
		            </div>
		</div>
	</body>
</html>
